*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

$bgcolor-header: rgb(165, 42, 42);
$color-gnl: rgb(0, 0, 0);
$bgcolor-gnl: rgb(220, 20, 60);
$color-w: rgb(255, 255, 255);

body{
    background-color: rgb(255, 235, 205);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

