.header-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bgcolor-header;
    border: 5px solid $color-gnl;

    h1{
        display: inline;
        justify-content: left;
    }

    .icono{
        width: 90px;
        justify-content: center;
        margin: 10px 0 10px 0;
    }

    .menu_nav{
        display: flex;
        padding: 0;
        justify-content: center;
        margin-bottom: 0;
    }

    ul{
        li{
            padding: 0em 10em 0em 10em; 
        }
    }
}

