.header-principal{
    background-color: $bgcolor-header;
    padding: 20px;
    border: 5px solid $color-gnl;

    h1{
        display: inline;
        justify-content: left;
    }

    .icono{
        width: 100px;
        justify-content: center;
    }

    .menu_nav{
        display: flex;
        padding: 0;
        justify-content: center;
        margin-bottom: 0;
    }

    ul{
        li{
            display: grid;
            padding: 0em 10em 0em 10em; 
        }
    }
}

