.titulos{
    color: $color-gnl;
    text-align: left;
    }

.textos{
    text-decoration: none;
    color: $color-gnl;
}
.subtitulos{ 
    margin: nth($tamanos, 5);
    text-align: center;
    font-size: nth($tamanos, 6);
    }
    

.boton2{
    border: nth($tamanos , 1) solid color($color-gnl);
    background-color: $bgcolor-gnl;
    font-size: nth($tamanos, 4);
    padding: 0 5px 0 5px;
}

      
.flotar{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.flotar:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              
.creci{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.creci:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}


              
.trasla{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.trasla:hover{
    transform: translatex(20px);
        -webkit-transform: translatex(20px);
        -moz-transform: translatex(20px);
}
              
